body {
    text-align: center;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none;
}

.day.empty {
    background-color: transparent;
    border: none;
}

nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10vw;
    grid-row-gap: 0px;
}

@media (prefers-color-scheme: light) {
    .day {
        color: black;
        border: 1px solid #ccc;
    }
}

@media (prefers-color-scheme: dark) {
    .day {
        color: #ccc;
        border: 1px solid #555;
    }
}

.category-container {
    gap: 8px;
    display: grid;
    margin-bottom: 8px;
}

.card-container {
    width: 100%;
    display: grid;
    gap: 1vw;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.card {
    border: 1px dashed black;
    padding: 3rem 0rem;
    font-weight: bold;
    font-size: 0.8rem;

    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-word;

    transition: 250ms ease all;
}

.selected {
    background-color: blanchedalmond;
}
