/* Lifted from the beautiful https://www.shrinkle.org/ */

* {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    background: #fafafa;
    color: #000;
    overflow: hidden;
    padding: 0;

    min-height: 100dvh;
    min-width: 0;
    max-width: 800px;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; */

    @media (prefers-color-scheme: dark) {
        background-color: #333;
    }
}

/* CONTAINER POSITIONING */

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

header,
nav,
footer {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
}

main {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;

    justify-content: center;
    align-items: center;
    place-content: center;

    border: 1px solid green;
}

section {
    padding: 1.5rem;
}

/* CALENDAR */

section#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;

    button,
    input[type="button"] {
        border: 1px solid #ddd;
        border-radius: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;

        padding: 15%;
    }
}

/* PUZZLE */

section#puzzle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;

    input[type="checkbox"] {
        appearance: none;
    }

    label {
        border: 1px solid #ddd;
        border-radius: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

        padding: 2rem 0rem;
        font-weight: bold;
        font-size: 0.8rem;

        word-wrap: break-word;
        word-break: break-word;
    }

    label:has(input[type="checkbox"]:checked) {
        background-color: blanchedalmond;
    }
}

/* Modified from https://www.shrinkle.org/ */

.words-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
    width: 100%;
    align-items: center;
    flex-shrink: 0;
}

.word {
    display: flex;
    justify-content: center;
    gap: 6px;
    width: 100%;
    padding: 0 16px;
}

.letter {
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    flex: 1;
    max-width: 50px;
    aspect-ratio: 1;
    position: relative;
    transform-origin: center;

    /* inline */
    width: 50px;
    height: 50px;
    font-size: 20px;
}
